* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

main {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;

	margin-top: 2em;
}

section {
	width: 45%;
}

section > * {
	margin: 1.5em 0;
}

section:first-child {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

h5 {
	margin-bottom: 1em;
}

section:last-child {
	height: 100%;
	border: 1px solid black;
	padding: 1em;
}

label {
	display: block;
	margin: 0.5em 0;
}

label input {
	width: 100%;
}

label:nth-child(2),
label:first-child {
	display: inline-block;
	width: 49.5%;
}

label:nth-child(2) input,
label:first-child input {
	width: 100%;
}

button {
	background-color: blue;
	color: white;
	padding: 0.5em;
}

@media only screen and (max-width: 430px) {
	main {
		flex-direction: column;
		align-items: center;
	}
	section {
		width: 90%;
	}
	label:nth-child(2),
	label:first-child {
		width: 100%;
	}
}
